GitPython==3.1.62
hear21passt==0.0.26
huggingface_hub==1.24.0
hydra-core==1.3.7
ipython==8.12.3
laion_clap==1.1.7
matplotlib==3.11.2
numpy==2.5.3
omegaconf==2.3.1
orjson==3.12.0
pandas==3.0.5
pytorch_lightning==2.6.5
Requests==2.34.2
safetensors==0.8.0
scipy==1.18.1
soundfile==0.14.0
swanlab==0.10.0
torch==2.8.0+cu128
torchaudio==2.8.0+cu128
torchmetrics==1.9.0
tqdm==4.66.2
transformers==5.14.1
urllib3==2.8.0
